/* Variables*/
:root {
  --body-color: rgb(24, 27, 36);
  --font-family: "Poppins", sans-serif;
  --font-color: rgb(255, 255, 255);

  --font-size: 1.1rem;

  --border-style: solid;
  --border-width: 0.05rem;

  --global-background: #ffffff0e;
  --global-border: 0px solid #fff;
  --global-border-radius: 0.5rem;

  --embed-color: rgb(116, 107, 107);

  --div-border-color: rgba(151, 201, 230, 0.239);

  --header-background-color: linear-gradient(180deg, #1e1f4293 0%, #1d1c1c5b 100%);
  --header-text-color: var(--font-color);
  --header-font-family: var(var(--font-family));
  --header-font-weight: 400;
  --header-font-size: calc(var(--font-size) * 1.7);

  --title-margin: calc(var(--font-size) * 0.5);
  --title-font-size: calc(var(--font-size) * 1.2);
  --title-font-color: rgba(212, 222, 235, 0.89);

  --content-padding: 2rem;



  --icon-height: 2rem;
  --padding-left-icon: calc(var(--icon-height) + 0.2rem);
}

body {
  margin: 0;
  background-color: #000000e7;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

.container {
  background-color: var(--body-color);
  font-family: var(--font-family);
  min-width: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: var(--header-background-color);
  color: var(--header-text-color);
  font-weight: var(--header-font-weight);
  margin: 0;
  padding: 0;
}

.header__title { 
  border: var(--border-width) solid var(--div-border-color);
  font-size: var(--header-font-size);
  color: var(--header-font-color);
  margin: 0;
  padding-left: 1rem;
}

.main {
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-size);
  text-shadow: 2px 2px 4px #000000;
  background-image: linear-gradient(180deg, #000000e8 0%, #000000c9 100%), url('../images/tree.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

}
  
.main__title{
  display: block;
  font-size: var(--title-font-size);
  color: var(--title-font-color);
  margin: var(--title-margin);
  text-transform: uppercase;
}

.main__profil{
  padding: var(--content-padding);
  border-radius: var(--global-border-radius);
  border: var(--global-border);
}

.main__profil-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--global-background);
  padding: 1em;
  border: var(--global-border);
  border-top: 1px solid var(--title-font-color);
  border-radius: 0 0 1em 1em;
}
  
.main__profil-img { 
  background-image: url('../images/profile-pic.png');
  border-radius: 50%;
  flex-basis: 8.75rem;
  height: 8.75rem;
  margin: 1em;
  border: var(--border-width) solid var(--div-border-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.skills__title { 
  width: 90%;
  font-size: var(--title-font-size);
  color: var(--title-font-color);
  margin: var(--title-margin);
  text-transform: uppercase;
}
  
.main__skills{
  margin: auto;
  padding: var(--content-padding);
  border-radius: var(--global-border-radius);
  border: var(--global-border);
}

.skills__list { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: var(--content-padding);
  justify-content: center;
  gap: 1rem;
  background-color: var(--global-background);
  list-style-type: none;
  border: var(--global-border);
  border-top: var(--border-width) solid var(--title-font-color);
  border-radius: 0 0 1em 1em;
}

.skills__list__item {
  flex-basis: 10rem;
  border: var(--test-border);
  font-size: 1.3em;
}

.main__projects{
  padding: var(--content-padding);

}

.projects__title{
  font-size: var(--title-font-size);
  color: var(--title-font-color);
  margin: var(--title-margin);
  text-transform: uppercase;
}

.projects__list{
  display: flex;
  justify-content: center;
  background-color: var(--global-background);
  border-top: var(--border-width) solid var(--title-font-color);
  padding: var(--content-padding);
  border-radius: 0 0 1em 1em;
}

.projects__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff71;
  border-radius: 1em;
  width: 20em;
  height: 20em;
  padding: 0.5em;
}

.tags{
  display: flex;
  justify-content: flex-start;
}

.tag{
  font-size: small;
  font-weight: bold;
  background-color: var(--title-font-color);
  border-radius: 0.5em;
  padding: 0.5em;
  margin-right: 0.3em;
  text-shadow: none;
}

.tag--html{
  background-color: #c97303;
}

.tag--css{
  background-color: #00006b;
}

.card__title{
  font-size: var(--title-font-size);
  color: var(--title-font-color);
  text-align: center;
  margin: var(--title-margin);
  text-transform: uppercase;
}

.card__paragraphe{
  font-size: 0.9em;
  text-align: center;
}

.card__link{
  display: block;
  text-align: center;
  font-size: 0.9em;
  border-radius: 1em;
  font-weight: 800;
  color: var(--body-color);
  background-color: var(--title-font-color);
  margin: var(--title-margin);
  padding: 0.5em;
  text-transform: uppercase;
  text-shadow: none;
  border: 2px solid var(--title-font-color);
}

.card__link:hover{
  border: 2px solid var(--title-font-color);
  color: var(--title-font-color);
  background-color: var(--body-color);
  text-decoration: none;
}

.main__about__title {
  display: block;
  width: 90%;
  font-size: var(--title-font-size);
  color: var(--title-font-color);
  margin: var(--title-margin);
  text-transform: uppercase;
}

.main__about {
  padding: var(--content-padding);
  border-radius: var(--global-border-radius);
  border: var(--global-border);
  }

  .about__paragraphe{
    background-color: var(--global-background);
    padding: var(--content-padding);
    border-top: var(--border-width) solid var(--title-font-color);
    border-radius: 0 0 1em 1em;
  }

.embed {
  display: inline-block;
  border-radius: 0.3em;
  background-color: var(--embed-color);
  padding: 0.2em;
  margin: 0.2em 0.2em;
}


  .skills__list__item--css{
    background-image: url('../images/svg_icon/css3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height));

  }

  .skills__list__item--html{
    background-image: url('../images/svg_icon/html5.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--js{
    background-image: url('../images/svg_icon/javascript.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--react{
    background-image: url('../images/svg_icon/react.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: var(--padding-left-icon);
  }

  .skills__list__item--nodejs{
    background-image: url('../images/svg_icon/nodejs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: var(--padding-left-icon);
  }

  .skills__list__item--mysql{
    background-image: url('../images/svg_icon/mysql.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: var(--padding-left-icon);
  }

  .skills__list__item--php{

    background-image: url('../images/svg_icon/php.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: var(--padding-left-icon);
  }

  .skills__list__item--wordpress{
    background-image: url('../images/svg_icon/wordpress.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: var(--padding-left-icon);
  }

/* RESPONSIVE */  
@media screen and (max-width: 980px) {


}

@media screen and (max-width: 600px) {
:root{
  --font-size: 0.9rem;
  --content-padding: 0.6rem;

}

  .main__profil{
    flex-wrap: wrap;
    justify-content: center;
  }

}
  
