/* Variables*/
:root {
    --body-color: #181b24;
    --font-family: "Poppins", sans-serif;
    --font-color: #ffffff;
    --font-size: 1.2rem;

    --border-style: solid;
    --border-width: 0.05em;
  
    --embed-color: #746b6b;

    --div-border-color: #97c9e6;
  
    --headbar-color: linear-gradient(180deg, #747474 0%, #4e4d4d5b 100%);
    --headbar-text-color: #ffffff;
    --headbar-font-family: "Poppins", sans-serif;  
    --headbar-font-weight: bold;
    --headbar-font-size: calc(var(--font-size) * 1.5);
  

    --icon-height: 1.6rem;
  }

  body {
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
  }

  img{
    max-width: 100%;
  }

  .container {
    background-color: var(--body-color);
    font-family: var(--headbar-font-family);
    max-width: 1400px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    box-shadow:#000000bb 5px 5px 10px 0px;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--font-color);
    text-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(180deg, #000000d8 0%, #000000b9 100%), url('image/tree.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 3rem;
    height: 100vh;
  }
  
  .header {
    background-image: var(--headbar-color);
    color: var(--headbar-text-color);
    font-weight: var(--headbar-font-weight);
    font-size: var(--headbar-font-size);
    margin: 0;
  }
  
  .header__title { 
    border: var(--border-width) solid var(--div-border-color);
    font-size: var(--headbar-font-size);
  }

  .main__title{
    width: 100%;
  }
  
  .main__profil { 
    background-image: url('image/profile-pic.png');
    border-radius: 50%;
    flex-basis: 8.75rem;
    height: 8.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
  
  .main__description { 
    flex-grow: 2;
    padding-left: 2em;
   }
  
  .skills__title { 
    border-bottom: var(--border-width) solid var(--div-border-color);
    padding: 0 1rem;
   }
  
  .main__skills { 
    width: 100vw;
   }

  .skills__list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5em;
    list-style-type: none;
   }

   .skills__list__item {
    flex-basis: 25vw;
   }
  
  .main__about {
    flex-basis: 100vw;
  }

  .main__about__title {
    border-bottom: var(--border-width) solid var(--div-border-color);
    padding: 0 1rem;
  }

  .embed {
    border-radius: 0.3em;
    background-color: var(--embed-color);
  }


  .skills__list__item--css{
    background-image: url('image/svg_icon/css3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--html{
    background-image: url('image/svg_icon/html5.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--js{
    background-image: url('image/svg_icon/javascript.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--react{
    background-image: url('image/svg_icon/react.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--nodejs{
    background-image: url('image/svg_icon/nodejs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--mysql{
    background-image: url('image/svg_icon/mysql.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--php{
    background-image: url('image/svg_icon/php.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--wordpress{
    background-image: url('image/svg_icon/wordpress.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }

  .skills__list__item--js{
    background-image: url('image/svg_icon/javascript.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--icon-height);
    padding-left: calc(var(--icon-height) + 0.5rem);
  }
/* RESPONSIVE */  
@media screen and (max-width: 480px) {

}
  
