/* Variables*/
:root {
    --body-color: #181b24;
    --font-family: "Poppins", sans-serif;
    --font-color: #ffffff;
  
  
  
    --border-color: #00fff200;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 0px;
  
  
    --embed-color: #746b6b5b;
  
  
    --headbar-color: linear-gradient(180deg, #747474 0%, #4e4d4d5b 100%);
    --headbar-text-color: 1#ffffff;
    --headbar-font-family: "Poppins", sans-serif;  
    --headbar-font-weight: 100;
    --headbar-font-size: 1.5rem;
    --headbar-font-style: normal;
  
  }

  .body{
    overflow: auto;
  }
  
  .container {
    user-select: none;
    background-color: var(--body-color);
    content: "";
    background-image: url('tree.svg');
    background-size: clamp(200px, 80vw, 500px);
    background-position: center;
    background-repeat: no-repeat;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    scrollbar-width: 100px;;
  }
  
  
  .container-grid {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 50px 160px 40px auto auto;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title "
      "profil description"
      "title-skills title-skills"
      "skills-carrousel skills-carrousel"
      "about about";
    color: var(--font-color) ;
    font-family: var(--font-family);
    background-image: linear-gradient(180deg, #202020 0%, #4e4d4dd8 100%);
    border-radius: var(--border-radius);
    height: 100vh;
    width: clamp(480px, 80vw, 1000px);
    margin-left: auto;
    margin-right: auto;
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-width: var(--border-width);

  }
  
  .svg{
    width: 25px;
    position: fixed;
    top: 8px;
    right: 1%;
  }
  
  .headbar {
    grid-area: headbar;
    padding: 5px;
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-width: var(--border-width);
    background-image: var(--headbar-color);
    color: var(--headbar-text-color);
    font-family: var(--headbar-font-family);
    font-weight: var(--headbar-font-weight);
    font-size: var(--headbar-font-size);
    font-style: var(--headbar-font-style);
  }
  
  .title { 
    border: 1px solid violet;
    grid-area: title;
    font-size: var(--headbar-font-size);
    margin-left: 5px;
  }
  
  .profil-picture { 
    background-image: url('profile-pic.png');
    box-shadow:#000000bb 5px 0px 10px 0px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

   .profil { 
    grid-area: profil;
    border: 1px solid var(--border-color);
   }
  
  .description { 
    border: 1px solid yellow;
    margin-right: 5px;
    grid-area: description;
   }
  
  .title-skills { 
    border: 1px solid blue;
    grid-area: title-skills;
    margin-top: 10px;
    margin-left: 10px;
  
   }
  
  .skills-carrousel { 
    border: 1px solid green;
    grid-area: skills-carrousel;
    margin-top: 10px;
    margin-left: 10px;
   }
  
  .about {
    border: 1px solid red;
    grid-area: about;
    margin-top: 10px;
    margin-left: 10px;
  
  }

  .embed {
    border-radius: 3px;
    background-color: var(--embed-color);
  }
  
@media screen and (max-width: 480px) {
    .container-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr auto 0.3fr repeat(2, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "title"
          "profil"
          "description"
          "title-skills"
          "skills-carrousel"
          "about";
    }

    .profil-picture { 
    }

    .profil { 
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: url('profile-pic.png');
        border: 1px solid var(--border-color);
        box-shadow:#000000bb 5px 0px 10px 0px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .container-grid{
        height: 100vh;
        width: 100vw;
    }

    .description { 
        margin-right: 5px;
        margin-left: 5px;
       }
}
  